body {
   /* The image used */
   background-image: url("kenya.PNG");

   /* Full height */
   height: 100%;


   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

body, html{
  height:100%;
  margin: 0;
  color:red;
  text-align:center;
}

.description{

}

.kenya{
  float:right;
}

.elephant{
  float:left;
}

.conserve{
  float:right;
}
