body {
   /* The image used */
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuSt8CBOcHwtHdG1xD87izJmdj6PxL5PqCR2VqD9nGxTmz8sgn9Q");

   /* Full height */
   height: 100%;


   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

body, html{
  height:100%;
  margin: 0;
  color:gold;
  text-align:center;
}

.container{
  margin:0px;
}
.logo{
margin-left: 30%;
}

.description{
  float:right;
  margin-top:0px;
  margin-left: 30%;
}

.vetpic{
margin:10px;
margin-left: 30%;
}

.venpic{

}
